<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Login System</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container">
    <h2>Student Login System</h2>
    {% if message %}
    <div class="message">
        {{ message }}
    </div>
    {% endif %}
    <!-- Login Form -->
    <div class="box">
        <h3>Login</h3>
        <form action="/login" method="post">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <div class="forgot-password">
                <a href="/forgot-password">Forgot Password?</a>
            </div>
            <button type="submit">
                Login
            </button>
        </form>
    </div>
    <br><br>
     <!-- Register Form -->
    <div class="box">
       <h3>If you are not registered, Register here</h3>
       <form action="/register" method="post">
           <input type="text" name="student_id" placeholder="Student ID" required>
           <input type="text" name="username" placeholder="Username" required>
           <input type="email" name="email" placeholder="Email" required>
           <input type="password" name="password" placeholder="Password" required>
           <input type="password" name="confirm_password" placeholder="Confirm Password" required>
           <button type="submit">
               Register
               </button>
       </form>
    </div>
</div>
</body>
</html>