<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>College ERP</title>

    <link rel="stylesheet"
          href="/static/style.css">

</head>

<body>

<div class="landing-container">

    <div class="landing-box">
        <h1>College Management System</h1>
        <p>
            Welcome to our College Management System! This platform is designed to streamline the management of academic and administrative tasks.
        </p>
        <div class="landing-buttons">
            <a href="/student-login">
                <button class="student-btn">
                    👨‍🎓 Student Portal
                </button>
            </a>
            <a href="/faculty-login">
                <button class="faculty-btn">
                    👩‍🏫 Faculty Portal
                </button>
            </a>
        </div>
    </div>
</div>
</body>
</html>