<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timetable</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container">
    <h2>Weekly Timetable</h2>
    <table>
        <tr>
            <th>Day</th>
            <th>Period 1</th>
            <th>Period 2</th>
            <th>Period 3</th>
            <th>Period 4</th>
            <th>Period 5</th>
            <th>Period 6</th>
        </tr>
        {% for row in timetable %}
        <tr>
            <td>{{ row.day_name }}</td>
            <td>{{ row.period1 }}</td>
            <td>{{ row.period2 }}</td>
            <td>{{ row.period3 }}</td>
            <td>{{ row.period4 }}</td>
            <td>{{ row.period5 }}</td>
            <td>{{ row.period6 }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/student-dashboard/{{username}}">
        <button type="button">
            ← Back to Dashboard
        </button>
    </a>
</div>
</body>
</html>